.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
    background-color: azure;
}

.dialog a {
    color: darkgray;
    text-decoration: none;
}
.active a {
    color: dodgerblue;
}
.messages {
    padding: 10px;
}
.message {

}
